.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

.footer-icon {
    padding-right: 40px;
}



.btn{
    width: 100%;
    border-radius: 0px;
    margin-bottom: 2px;
}

.footer{
    background-color: yellow;
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
}

.card-hotel{
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
    margin-right: 100px;
    margin-top: 10px;
}

.nav-tabs{
    margin-bottom: 5px;
}